<!doctype html>
<html>
<head>
  <title>Student Report</title>
  <meta charset="UTF-8" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <meta http-equiv="refresh" content="5; URL=/" />
</head>
   <body>
      <table border = 1>
        {% for i in hmylist %}
          {% for key, value in i.items() %}
             <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
             </tr>
         {% endfor %}
        {% endfor %}
      </table>
      <b><a href = '/'>click here to go back to menu</a></b>
   </body>
</html>
